<!DOCTYPE html>
<html>
    <head>
        <title>Error404</title>
        <link rel="icon" href="/weather.png">
        <link rel='stylesheet' href='/css/style.css'>  
    </head>

    <body>
        <div class="main-content">
            {{!-- call file error.hbs in partials --}}
            {{>header}}
            {{>error}} 
        </div>

        {{>footer}}
    </body>
</html>