<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/weather.png">
        <link rel='stylesheet' href='/css/style.css'>  <!-- call css file --> 
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This is a help page.</p>
        </div>
        
        {{>footer}}
    </body>
</html>