<header>
    {{!-- partials คือการกำหนดสิ่งนึงไว้ใช้กับทุกไฟล์หรือที่หน้าเว็ปไซต์ที่ต้องการแสดงให้เหมือนกัน --}}
    <h1>{{title}}</h1>  {{!-- //รับค่า title มาจาก partials ของแต่ละอันที่ render  --}}
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
